services:
  postgresql:
    image: postgres:16-alpine
    container_name: postgresql
    hostname: postgresql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=etl_user
      - POSTGRES_PASSWORD=etl_password
      - POSTGRES_DB=etl_db
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgresql-data:/var/lib/postgresql/data
      - /home/hkkim/etl-cluster-test/iot-pipeline/config/init-postgresql.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U etl_user -d etl_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - etl-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    hostname: pgadmin
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgresql
    networks:
      - etl-network

volumes:
  postgresql-data:
    external: true
  pgadmin-data:
    external: true

networks:
  etl-network:
    external: true